.banner {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.banner h2 {
  margin: 0;
  color: white;
  font-size: 36px;
  text-align: center;
}

.banner p {
  margin: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
